Q1: Explain with an example each when to use a for loop and a while loop

In [8]:
#  using for loop
a,b=0,1
for i in range(11):
    print(a)
    c=a+b 
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55

In [3]:
# using while loop
n=int(input('enter your number'))
a,b=0,1
counter=0
while counter<= 10:
    print(a)
    c=a+b
    a=b
    b=c
    counter=counter+1

enter your number 10

0
1
1
2
3
5
8
13
21
34
55

Q2: Write a python program to print the sum and the product of the first 10 natural numbers
using for and while loop.

In [6]:
result=0
for i in range(1,11,1):
    result=result+i
result

55

In [7]:
result=1
for i in range(1,11,1):
    result=result*i
result

3628800

In [8]:
n=int(input('enter your number'))
starting_point=0
counter=1
while counter<=10:
    starting_point=starting_point+counter
    counter=counter+1
starting_point

enter your number 10

55

In [10]:
n=int(input('enter your number'))
starting_point=1
counter=1
while counter<=10:
    starting_point=starting_point*counter
    counter=counter+1
starting_point

enter your number 10

3628800

Q4: creat a list of numbers from 1 to 100 use for loop and while loop to calculate the cube of each numbers
and if cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [1]:
l1=[]
for i in range(1,101,1):
    if i**3%4==0 or i**3%5==0:
        l1.append(i)

In [2]:
l1

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Q5: write a programm to filter count vowels in the below given string.
   string='i want to bec0me a data scientist'

In [4]:
s='i want to become a data scientist'

In [5]:
l=[]
for i in s:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        l.append(i)

In [6]:
l

['i', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']

In [7]:
len(l)

12